main{
    overflow: hidden;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #1C943E; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

#myBtn i{
    color: #fff;
}
/* navbar */

.navbar{
    height: 100px;
    box-sizing: border-box;
    border-bottom: 1px solid #DBDCDF;
    border-top: 1px solid #DBDCDF;
}

.navbar-brand{
    width: 25%;
}

a.navbar-brand{
    height: 100px;
}

.navbar-brand img{
    margin-top: -7px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar-nav li a{
    font-family: 'Poppins', sans-serif;
    font-size: 17.6px;
    font-weight: 900;
}

/* dropdown navs */

/* Dropdown Content (Hidden by Default) */
div .dropdown-menu {
    left: -100%;
    display: none;
    width: 75vw;
    position: relative;
    background-color: #1C943E;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}


/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-menu {display: block;}

/* product */
.product-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-product {
    position: relative;
    width: 300px;
    margin-bottom: 20px;
    border: 1px solid #DBDCDF;
    background-color: #fff;
    overflow: hidden;
}

.dropdown-menu a{
    text-decoration: none;
    font-weight: 100;
}

.dropdown-menu .judul{
    color: #fff;
}

.container-product .image {
    width: 100%;
    height: 100%;
}

.container-product .image img{
    width: 50px;
    height: 50px;
    margin: 10px 10px;
}

.container-product:hover .overlay {
    height: 100%;
}

.container-product .deskripsi {
    color: #000;
    font-size: 14.4px;
    position: relative;
    margin: 10px 10px;
}

.container-product .up {
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 92%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/* home */

.container-home{
    padding: 0 50px 0 50px;
    box-sizing: border-box;
    border: 1px solid #DBDCDF;
    border-top-right-radius: 32px;
    border-top-left-radius: 32px;
    height: 1497px;
}

.container-home a{
    text-decoration: none;
}

/* carousel-main/swiper/slider */

.swiper {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}

.swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    height: 80vh;
}

.swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

/* product home */

.product-home{
    margin: 30px 0 30px 0;
}

.container-product-home {
    position: relative;
    width: 100%;
    height: 250px;
    border: 1px solid #DBDCDF;
    background-color: #fff;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-product-home .image {
    display: block;
    width: 100%;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
}

.container-product-home .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #1C943E;
    overflow: hidden;
    width: 100%;
    height: 0;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    border-bottom-right-radius: 34px;
    border-bottom-left-radius: 34px;
    transition: .5s ease;
}

.container-product-home:hover .overlay {
    height: 100%;
}

.container-product-home .logo img {
    width: 100px;
    height: 60px;
    margin: 20px 20px;
}

.container-product-home .deskripsi {
    color: #000;
    font-size: 15px;
    margin: 0 20px 20px 20px;
}

.container-product-home .detail-logo{
    width: 100%;
}

.container-product-home .detail-logo img{
    width: 60px;
    height: 30px;
    margin: 20px 10px 0 70%;
}

.container-product-home .detail {
    color: #fff;
    font-size: 15px;
    position: relative;
    margin: 5px 30px 10px 30px;
}

.container-product-home .btn-light {
    position: relative;
    width: 80%;
    margin: 10px 0 30px 10%;
    font-size: 15px;
    background-color: transparent;
    color: #fff;
}

.container-product-home .btn-light:hover {
    background-color: #FFF;
    color: #000;
    transition: all 1s;
}

.slide-up{
    position: relative;
    width: 100%;
    height: 20px;
    text-align: center;
    text-decoration: none;
    border-top: 2px solid #DBDCDF;
}

.slide-up h1{
    font-size: 15px;
    text-decoration: none;
    color: #000;
}

.to-service .btn-dark{
    background-color: #1C943E;
    font-size: 30px;
    width: 500px;
    border-top-left-radius: 649px;
    border-top-right-radius: 649px;
    border-bottom-left-radius: 649px;
    border-bottom-right-radius: 649px;
}

.to-service .btn-dark:focus{
    outline: 0;
}

.to-service .btn-dark:active{
    transform: scale(0.98);
}

/* swiper-responsive */

.swiper-prod{
    display: none;
}

/* footer/contacts */

.contacts{
    width: 100%;
    height: 300px;
    background-color: #1C943E;
    object-fit: cover;
    background-size: cover;
    color: #fff;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
}

.contacts h1{
    font-size: 20px;
}

.contact-info{
    margin: 50px 50px 50px 50px;
    padding-top: 50px;
}

/* services */

.container-service{
    margin: 0 50px 0 50px;
}

.container-service .prelaude{
    display: flex;
}

.container-service .prelaude .btn-dark{
    background-color: #1C943E;
    width: 300px;
    font-size: 20px;
    border-top-left-radius: 649px;
    border-top-right-radius: 649px;
    border-bottom-left-radius: 649px;
    border-bottom-right-radius: 649px;
}

.container-service .counter{
    position: relative;
    display: flex;
}

.counter .tahun-berdiri{
    width: 20%;
    text-align: center;
}

.counter .pekerja{
    width: 20%;
    text-align: center;
}

.counter .client{
    width: 20%;
    text-align: center;
}

.counter .client-puas{
    width: 20%;
    text-align: center;
}

.counter .cabang{
    width: 20%;
    text-align: center;
}

.container-service .devolopment{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.container-service .box-dev-1{
    width: 380px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #DBDCDF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-service .box-dev-2{
    width: 380px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #DBDCDF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-service .box-dev-3{
    width: 380px;
    height: 300px;
    box-sizing: border-box;
    border: 1px solid #DBDCDF;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.container-service .one{
    color: #fff;
}

.swiper-service{
    display: none;
}

/* devs-overlay */
.container-dev {
    position: relative;
    width: 100%;
}

.container-dev .image {
    display: block;
    width: 100%;
    height: 300px;
}

.container-dev .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1C943E;
}

.container-dev:hover .overlay {
    opacity: 1;
}

.container-dev .img {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
}

.container-dev .deskripsi {
    color: #000;
    font-size: 15px;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-dev .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* expertise */

.container-service .th-1{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}

.container-exp {
    position: relative;
    width: 100%;
}

.container-exp .image {
    display: block;
    width: 100%;
    height: 300px;
}

.container-exp .img {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
}

.container-exp .deskripsi {
    color: #000;
    position: absolute;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-exp .deskripsi h1{
    font-size: 18px;
}

.container-service .four .btn-dark{
    width: 600px;
    font-size: 40px;
    background-color: #1C943E;
    border-top-left-radius: 649px;
    border-top-right-radius: 649px;
    border-bottom-left-radius: 649px;
    border-bottom-right-radius: 649px;
}

.swiper-exp{
    display: none;
}

/* ABOUT US */

.container-about{
    margin: 50px 60px 50px 60px;
}

.selubung{
    background-color: #1C943E;
}

.container-about .about-2{
    color: #fff;
}

.container-about-2 {
    position: relative;
    width: 100%;
}

.container-about-2 .image {
    display: block;
    width: 100%;
    height: 300px;
}

.container-about-2 .img {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    height: 80%;
}

.container-about-2 .deskripsi {
    color: #fff;
    position: absolute;
    top: 90%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.container-about-2 .deskripsi h1{
    font-size: 18px;
}

.container-about .about-3 .about-baris-1{
    display: flex;
}

.container-about .about-3 .about-baris-2{
    display: flex;
}

.container-about .about-3 .about-baris-3{
    display: flex;
}

.about-3 .about-baris-1 .kiri{
    width: 50%;
    position: relative;
}

.about-3 .about-baris-1 .image {
    display: block;
    width: 100%;
    height: 300px;
}

.about-3 .about-baris-1 .img {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

.about-3 .about-baris-1 .kanan{
    background-color: #1C943E;
    width: 50%;
    position: relative;
}

.about-3 .about-baris-1 .deskripsi {
    color: #fff;
    margin: 50px 50px 50px 50px;
}

.about-3 .about-baris-1 .deskripsi h1{
    font-size: 30px;
}

/* baris kedua */

.about-3 .about-baris-2 .kiri{
    width: 50%;
    position: relative;
    background-color: #1C943E;
}

.about-3 .about-baris-2 .kanan{
    width: 50%;
    position: relative;
}

.about-3 .about-baris-2 .deskripsi {
    color: #fff;
    margin: 50px 50px 50px 50px;
}

.about-3 .about-baris-2 .deskripsi h1{
    font-size: 30px;
}

.about-3 .about-baris-2 .image {
    display: block;
    width: 100%;
    height: 300px;
}

.about-3 .about-baris-2 .img {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

/* baris ketiga */

.about-3 .about-baris-3 .kiri{
    width: 50%;
    position: relative;
}

.about-3 .about-baris-3 .kanan{
    width: 50%;
    position: relative;
    background-color: #1C943E;
}

.about-3 .about-baris-3 .image {
    display: block;
    width: 100%;
    height: 300px;
}

.about-3 .about-baris-3 .img {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    height: 100%;
}

.about-3 .about-baris-3 .deskripsi {
    color: #fff;
    margin: 50px 50px 50px 50px;
}

.about-3 .about-baris-3 .deskripsi h1{
    font-size: 30px;
}

@media screen and (min-width: 300px) and (max-width: 399px) {
    .navbar{
        height: 100px;
        box-sizing: border-box;
        border-bottom: 1px solid #DBDCDF;
        border-top: 1px solid #DBDCDF;
    }

    .navbar-brand{
        width: 25%;
    }

    a.navbar-brand{
        height: 100%;
    }

    .navbar-brand img{
        left: 30%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .navbar-nav{
        display: flex;
    }

    .navbar-nav li a{
        font-family: 'Poppins', sans-serif;
        font-size: 17.6px;
        font-weight: 900;
    }

    .navbar-collapse{
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid #DBDCDF;
        text-align: center;
    }

    .hide-on-mini{
        display: none !important;
    }

    /* Dropdown Content (Hidden by Default) */
    div.dropdown-menu {
        display: block;
        position: relative;
        background-color: #fff;
        width: 100%;
        box-shadow: none;
        z-index: 2;
    }

    /* product */

    .container-product {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        border: 2px solid #DBDCDF;
        background-color: #fff;
    }

    .container-product .image {
        display: block;
        width: 100%;
        height: 100%;
    }

    .container-product .image img{
        width: 50px;
        height: 50px;
        margin: 10px 10px;
    }

    .container-product .deskripsi {
        position: relative;
        color: #000;
        font-size: 14.4px;
        margin: 10px 10px;
        width: 95%;
    }

    .container-product .up {
        color: #000;
        font-size: 15px;
        position: absolute;
        top: 92%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    /* offcanvas produk */

    .offcanvas{
        width: 100% !important;
        background-color: #1C943E;
    }

    .btn-off-close{
        color: #fff;
    }

    .btn-off-close i{
        font-size: 30px;
    }

    .btn-nav-link{
        font-weight: bold;
        font-size: large;
    }

    .btn-nav-link:hover{
        outline: none;
    }

    .product-home{
        margin: 30px 0 30px 0;
    }

    /* home */

    .container-product-home {
        display: none;
    }

    /* swiper product home */

    .responsive-slider{
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .swiper-prod {
        display: block;
        width: 100%;
        height: 100%;
    }

    .swiper-prod .swiper-slide {
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-sizing: border-box;
        border: 2px solid #DBDCDF;
        cursor: pointer;
        height: 100px;
    }

    .container-product-slide {
        position: relative;
        width: 250px;
        height: 300px;
        border: 1px solid #DBDCDF;
        background-color: #fff;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .container-product-slide .image {
        display: block;
        width: 100%;
        height: 100%;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
    }

    .container-product-slide .image img{
        width: 50px;
        height: 50px;
        margin: 10px 20px;
    }

    .container-product-slide .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1C943E;
        overflow: hidden;
        width: 100%;
        height: 0;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
        transition: .5s ease;
    }

    .container-product-slide:hover .overlay {
        height: 100%;
    }

    .container-product-slide .deskripsi {
        color: #000;
        font-size: 12px;
        position: relative;
        margin: 0 30px 30px 20px;
    }

    .container-product-slide .detail-logo{
        width: 100%;
    }

    .container-product-slide .detail-logo img{
        width: 50px;
        height: 50px;
        margin: 10px 20px;
    }

    .container-product-slide .detail {
        color: #fff;
        font-size: 12px;
        position: relative;
        margin: 5px 30px 10px 30px;
    }

    .container-product-slide .slide-up{
        position: absolute;
        width: 100%;
        min-height: 10px !important;
        text-align: center;
        text-decoration: none;
        border-top: 2px solid #DBDCDF;
    }


    .container-product-slide .btn-light {
        position: relative;
        width: 80%;
        margin: 5px 0 30px 10%;
        font-size: 13px;
        background-color: transparent;
        color: #fff;
    }

    .container-product-slide .btn-light:hover {
        background-color: #FFF;
        color: #000;
        transition: all 1s;
    }

    .to-service .btn-dark{
        width: 100%;
        font-size: 18px;
    }

    /* services */

    .prelaude{
        display: flex;
        flex-direction: column;
    }

    .prelaude .kiri img{
        width: 100%;
    }

    .container-service .counter{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .counter .tahun-berdiri{
        width: 100%;
        text-align: center;
    }

    .counter .pekerja{
        width: 100%;
        text-align: center;
    }

    .counter .client{
        width: 100%;
        text-align: center;
    }

    .counter .client-puas{
        width: 100%;
        text-align: center;
    }

    .counter .cabang{
        width: 100%;
        text-align: center;
    }

    .container-service .devolopment{
        display: none;
    }
    /* slider/swiper services */

    .swiper-service {
        display: block;
        width: 100%;
        height: 100%;
    }

    .swiper-service .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-service .swiper-slide .container-dev .img {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        width: 30%;
    }

    .container-service .four .btn-dark{
        width: 100%;
        font-size: 18px;
    }

    /* about-us */

    .container-about .about-2 .judul{
        font-size: 25px;
    }

    .container-about{
        margin: 30px 20px 30px 20px;
    }

    .container-about .about-3 .about-baris-1{
        display: flex;
        flex-direction: column;
    }

    .container-about .about-3 .about-baris-2{
        display: flex;
        flex-direction: column-reverse;
    }

    .container-about .about-3 .about-baris-3{
        display: flex;
        flex-direction: column;
    }

    .about-3 .about-baris-1 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-1 .kanan{
        width: 100%;
    }

    .about-3 .about-baris-2 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-2 .kanan{
        width: 100%;
    }
    .about-3 .about-baris-3 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-3 .kanan{
        width: 100%;
    }

    /* footer */
    .contact-info{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 50px;
    }
}

@media screen and (min-width: 400px) and (max-width: 500px) {
    .navbar{
        height: 100px;
        box-sizing: border-box;
        border-bottom: 1px solid #DBDCDF;
        border-top: 1px solid #DBDCDF;
    }

    .navbar-brand{
        width: 25%;
    }

    a.navbar-brand{
        height: 100%;
    }

    .navbar-brand img{
        left: 30%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .navbar-nav{
        display: flex;
    }

    .navbar-nav li a{
        font-family: 'Poppins', sans-serif;
        font-size: 17.6px;
        font-weight: 900;
    }

    .navbar-collapse{
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid #DBDCDF;
        text-align: center;
    }

    .hide-on-mini{
        display: none !important;
    }

    /* Dropdown Content (Hidden by Default) */
    div.dropdown-menu {
        display: block;
        position: absolute;
        background-color: #fff;
        width: 100%;
        box-shadow: none;
        z-index: 2;
        color: #000;
    }

    /* product */

    .container-product {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        border: 2px solid #DBDCDF;
        background-color: #fff;
    }

    .container-product .image {
        display: block;
        width: 100%;
        height: 100%;
    }

    .container-product .image img{
        width: 50px;
        height: 50px;
        margin: 10px 10px;
    }


    .container-product:hover .overlay {
        height: 100%;
    }

    .container-product .deskripsi {
        color: #000;
        font-size: 14.4px;
        position: relative;
        margin: 0 10px 30px 10px;
    }

    /* offcanvas produk */

    .offcanvas{
        width: 100% !important;
        background-color: #1C943E;
    }

    .btn-off-close{
        color: #fff;
    }

    .btn-off-close i{
        font-size: 30px;
    }

    .btn-nav-link{
        font-weight: bold;
        font-size: large;
    }

    .btn-nav-link:hover{
        outline: none;
    }

    .product-home{
        margin: 30px 0 30px 0;
    }

    /* home */

    .container-product-home {
        display: none;
    }

    /* swiper product home */

    .responsive-slider{
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .swiper-prod {
        display: block;
        width: 100%;
        height: 100%;
    }

    .swiper-prod .swiper-slide {
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-sizing: border-box;
        border: 2px solid #DBDCDF;
        cursor: pointer;
        height: 100px;
    }

    .container-product-slide {
        position: relative;
        width: 250px;
        height: 260px;
        border: 1px solid #DBDCDF;
        background-color: #fff;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .container-product-slide .image {
        display: block;
        width: 100%;
        height: 100%;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
    }

    .container-product-slide .image img{
        width: 50px;
        height: 50px;
        margin: 10px 20px;
    }

    .container-product-slide .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1C943E;
        overflow: hidden;
        width: 100%;
        height: 0;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
        transition: .5s ease;
    }

    .container-product-slide:hover .overlay {
        height: 100%;
    }

    .container-product-slide .deskripsi {
        color: #000;
        font-size: 13px;
        position: relative;
        margin: 0 30px 30px 20px;
    }

    .container-product-slide .detail-logo{
        width: 100%;
    }

    .container-product-slide .detail-logo img{
        width: 50px;
        height: 50px;
        margin: 10px 20px;
    }

    .container-product-slide .detail {
        color: #fff;
        font-size: 13px;
        position: relative;
        margin: 5px 30px 10px 30px;
    }

    .container-product-slide .slide-up{
        position: relative;
        width: 100%;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-top: 2px solid #DBDCDF;
    }


    .container-product-slide .btn-light {
        position: relative;
        width: 80%;
        margin: 10px 0 30px 10%;
        font-size: 15px;
        background-color: transparent;
        color: #fff;
    }

    .container-product-slide .btn-light:hover {
        background-color: #FFF;
        color: #000;
        transition: all 1s;
    }

    .to-service .btn-dark{
        width: 100%;
        font-size: 18px;
    }

    /* services */

    .prelaude{
        display: flex;
        flex-direction: column;
    }

    .prelaude .kiri img{
        width: 100%;
    }

    .container-service .counter{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .counter .tahun-berdiri{
        width: 100%;
        text-align: center;
    }

    .counter .pekerja{
        width: 100%;
        text-align: center;
    }

    .counter .client{
        width: 100%;
        text-align: center;
    }

    .counter .client-puas{
        width: 100%;
        text-align: center;
    }

    .counter .cabang{
        width: 100%;
        text-align: center;
    }

    .container-service .devolopment{
        display: none;
    }
    /* slider/swiper services */

    .swiper-service {
        display: block;
        width: 100%;
        height: 100%;
    }

    .swiper-service .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-service .swiper-slide .container-dev .img {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        width: 30%;
    }

    .container-service .four .btn-dark{
        width: 100%;
        font-size: 18px;
    }

    /* about-us */

    .container-about .about-2 .judul{
        font-size: 25px;
    }

    .container-about{
        margin: 30px 20px 30px 20px;
    }

    .container-about .about-3 .about-baris-1{
        display: flex;
        flex-direction: column;
    }

    .container-about .about-3 .about-baris-2{
        display: flex;
        flex-direction: column-reverse;
    }

    .container-about .about-3 .about-baris-3{
        display: flex;
        flex-direction: column;
    }

    .about-3 .about-baris-1 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-1 .kanan{
        width: 100%;
    }

    .about-3 .about-baris-2 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-2 .kanan{
        width: 100%;
    }
    .about-3 .about-baris-3 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-3 .kanan{
        width: 100%;
    }

    /* footer */
    .contact-info{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 50px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .navbar{
        height: 100px;
        box-sizing: border-box;
        border-bottom: 1px solid #DBDCDF;
        border-top: 1px solid #DBDCDF;
    }

    .navbar-brand{
        width: 25%;
    }

    a.navbar-brand{
        height: 100%;
    }

    .navbar-brand img{
        left: 30%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .navbar-nav{
        display: flex;
    }

    .navbar-nav li a{
        font-family: 'Poppins', sans-serif;
        font-size: 17.6px;
        font-weight: 900;
    }

    .navbar-collapse{
        background-color: #fff;
        box-sizing: border-box;
        border: 1px solid #DBDCDF;
        text-align: center;
    }

    .hide-on-mini{
        display: none !important;
    }

    /* Dropdown Content (Hidden by Default) */
    div.dropdown-menu {
        display: block;
        position: absolute;
        background-color: #fff;
        width: 100%;
        box-shadow: none;
        z-index: 2;
    }


    /* product */

    .container-product {
        position: relative;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid #DBDCDF;
        background-color: #fff;
    }

    .container-product .image {
        display: block;
        width: 100%;
        height: 100%;
    }


    .container-product:hover .overlay {
        height: 100%;
    }

    .container-product .deskripsi {
        color: #000;
        font-size: 15px;
        position: relative;
        width: 100%;
        margin: 0 10px 30px 10px;
    }

    .container-product .image img{
        width: 50px;
        height: 50px;
        margin: 10px 10px;
    }

    /* offcanvas produk */

    .offcanvas{
        width: 100% !important;
        background-color: #000;
    }

    .btn-off-close{
        color: #fff;
    }

    .btn-off-close i{
        font-size: 30px;
    }

    .btn-nav-link{
        font-weight: bold;
        font-size: large;
    }

    .btn-nav-link:hover{
        outline: none;
    }

    .product-home{
        margin: 30px 0 30px 0;
    }

    /* home */

    .container-product-home {
        display: none;
    }

    /* swiper product home */

    .responsive-slider{
        margin-top: 80px;
        margin-bottom: 100px;
    }

    .swiper-prod {
        display: block;
        width: 100%;
        height: 100%;
    }

    .swiper-prod .swiper-slide {
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        box-sizing: border-box;
        border: 2px solid #DBDCDF;
        cursor: pointer;
        height: 100px;
    }

    .container-product-slide {
        position: relative;
        width: 600px;
        height: 240px;
        margin-bottom: 10px;
        padding-right: 60px;
        border: 1px solid #DBDCDF;
        background-color: #fff;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .container-product-slide .image {
        display: block;
        width: 100%;
        height: 100%;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
    }

    .container-product-slide .image img{
        width: 50px;
        height: 50px;
        margin: 10px 20px;
    }

    .container-product-slide .overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #1C943E;
        overflow: hidden;
        width: 100%;
        height: 0;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
        transition: .5s ease;
    }

    .container-product-slide:hover .overlay {
        height: 100%;
    }

    .container-product-slide .deskripsi {
        color: #000;
        font-size: 15px;
        position: relative;
        margin: 0 30px 30px 20px;
    }

    .container-product-slide .detail-logo{
        width: 100%;
    }

    .container-product-slide .detail-logo img{
        width: 50px;
        height: 50px;
        margin: 10px 20px;
    }

    .container-product-slide .detail {
        color: #fff;
        font-size: 15px;
        position: relative;
        margin: 5px 30px 10px 30px;
    }

    .container-product-slide .slide-up{
        position: relative;
        width: 100%;
        height: 20px;
        text-align: center;
        text-decoration: none;
        border-top: 2px solid #DBDCDF;
    }

    .container-product-slide .btn-light {
        position: relative;
        width: 80%;
        margin: 10px 0 30px 10%;
        font-size: 15px;
        background-color: transparent;
        color: #fff;
    }

    .container-product-slide .btn-light:hover {
        background-color: #FFF;
        color: #000;
        transition: all 1s;
    }

    .to-service .btn-dark{
        width: 100%;
        font-size: 18px;
    }

    /* services */

    .prelaude{
        display: flex;
        flex-direction: column;
    }

    .prelaude .kiri img{
        width: 100%;
    }

    .container-service .counter{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .counter .tahun-berdiri{
        width: 100%;
        text-align: center;
    }

    .counter .pekerja{
        width: 100%;
        text-align: center;
    }

    .counter .client{
        width: 100%;
        text-align: center;
    }

    .counter .client-puas{
        width: 100%;
        text-align: center;
    }

    .counter .cabang{
        width: 100%;
        text-align: center;
    }

    .container-service .devolopment{
        display: none;
    }
    /* slider/swiper services */

    .swiper-service {
        display: block;
        width: 100%;
        height: 100%;
    }

    .swiper-service .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }

    .swiper-service .swiper-slide .container-dev .img {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 45%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        width: 30%;
    }

    .container-service .four .btn-dark{
        width: 100%;
        font-size: 18px;
    }

    /* about-us */

    .container-about .about-2 .judul{
        font-size: 25px;
    }

    .container-about{
        margin: 30px 20px 30px 20px;
    }

    .container-about .about-3 .about-baris-1{
        display: flex;
        flex-direction: column;
    }

    .container-about .about-3 .about-baris-2{
        display: flex;
        flex-direction: column-reverse;
    }

    .container-about .about-3 .about-baris-3{
        display: flex;
        flex-direction: column;
    }

    .about-3 .about-baris-1 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-1 .kanan{
        width: 100%;
    }

    .about-3 .about-baris-2 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-2 .kanan{
        width: 100%;
    }
    .about-3 .about-baris-3 .kiri{
        width: 100%;
    }

    .about-3 .about-baris-3 .kanan{
        width: 100%;
    }

    /* footer */
    .contact-info{
        margin-right: 20px;
        margin-left: 20px;
        padding-top: 50px;
    }
}

@media screen and (width: 1024px) {
    .collapse{
        display: none;
    }

    div .dropdown-menu {
        left: -100%;
        display: none;
        width: 75vw;
        position: relative;
        background-color: #1C943E;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 2;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-menu {display: block;}

    .container-product {
        position: relative;
        width: 230px;
        margin-bottom: 20px;
        border: 1px solid #DBDCDF;
        background-color: #fff;
        overflow: hidden;
    }

    .container-service .box-dev-1{
        width: 250px;
        height: 300px;
    }

    .container-service .box-dev-2{
        width: 250px;
        height: 300px;
    }

    .container-service .box-dev-3{
        width: 250px;
        height: 300px;
    }

    .container-product-home {
        position: relative;
        width: 100%;
        height: 250px;
        border: 1px solid #DBDCDF;
        background-color: #fff;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }

    .container-product-home .image {
        display: block;
        width: 100%;
        border-top-left-radius: 34px;
        border-top-right-radius: 34px;
        border-bottom-right-radius: 34px;
        border-bottom-left-radius: 34px;
    }

    .container-product-home .logo img {
        width: 80px;
        height: 40px;
        margin: 20px 20px;
    }

    .container-product-home .deskripsi {
        color: #000;
        font-size: 13px;
        margin: 0 20px 20px 20px;
    }

    .container-product-home .detail {
        color: #fff;
        font-size: 13px;
        position: relative;
        margin: 5px 30px 10px 30px;
    }
}

@media screen and (height: 1031px) {
    .hide-on-mini{
        display: none;
    }

    .nav-link{
        padding-left: 14px;
    }

    .offcanvas{
        width: 100% !important;
        background-color: #1C943E;
    }

    .btn-off-close{
        color: #fff;
    }

    .btn-off-close i{
        font-size: 30px;
    }

    .btn-nav-link{
        font-weight: bold;
        font-size: large;
    }

    .btn-nav-link:hover{
        outline: none;
    }

    .product-home{
        margin: 30px 0 30px 0;
    }

    .about-3 .about-baris-1 .image {
        display: block;
        width: 100%;
        height: 100%;
    }

    .about-3 .about-baris-2 .image {
        display: block;
        width: 100%;
        height: 100%;
    }

    .about-3 .about-baris-3 .image {
        display: block;
        width: 100%;
        height: 100%;
    }


}
